{% load staticfiles %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/universal.css' %}" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="wrapper">
<input type="text" id="myInput" onkeyup="search()" placeholder="Search by name..." title="Type in a name">
<div>
  <input id="input0" type="radio" name="filter" value="0"> NPM
  <input id="input1" type="radio" name="filter" value="1"> Name
  <input id="input2" type="radio" name="filter" value="2"> Year
  <input id="input3" type="radio" name="filter" value="3"> Expertise
  <input id="input4" type="radio" name="filter" value="4"> Level
</div>
<table id="myTable">
  <tr class="header">
    <th style="width:20%;">NPM</th>
    <th style="width:40%;">Name</th>
    <th style="width:10%;">Year</th>
    <th style="width:10%;">Expertise</th>
    <th hidden style="width:10%;">Level</th>
    <!-- <th style="width:10%;"></th> -->
  </tr>

  {% for i in friends %}
    <tr>
        <td> {{i.npm}} </td>
        <td> {{i.name}} </td>
        <td> {{i.year}} </td>
        <td>
        {% for expertise in i.expertise.all %}
            <div class="expertise" style='background-color:{{ expertise.get_color_display }}'>
                <!-- <p id="level" hidden> {{ expertise.level }} </p> -->
                <!-- <script>changeColor(document.getElementById("level").innerHTML)</script> -->
                {{ expertise.name }}
            </div>
        {% endfor %}
        </td>
        <td hidden>
        {% for expertise in i.expertise.all %}
            {{ expertise.get_level_display }}
        {% endfor %}
        </td>
        <!-- <td> <button class="button-add">+</button> </td> -->
    </tr>
  {% endfor %}
</table>
</div>

<script>

$("#input0").on("click", function () {
   $('#myInput').attr('placeholder', "Search by NPM...").val("").focus().blur();
});

$("#input1").on("click", function () {
   $('#myInput').attr('placeholder', "Search by name...").val("").focus().blur();
});

$("#input2").on("click", function () {
   $('#myInput').attr('placeholder', "Search by year...").val("").focus().blur();
});

$("#input3").on("click", function () {
   $('#myInput').attr('placeholder', "Search by expertise...").val("").focus().blur();
});

$("#input4").on("click", function () {
   $('#myInput').attr('placeholder', "Search by level...").val("").focus().blur();
});


function search() {
    var input, filter, table, tr, td, i, value, radios;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    radios = document.getElementsByName('filter');

    value = 1; //initial value 0: search by name

    for (var i = 0, length = radios.length; i < length; i++)
    {
        if (radios[i].checked)
        {
            value = parseInt(radios[i].value);
        break;
        }
    }

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[value];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
    }
}

</script>

{% endblock %}
