{% load staticfiles %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/universal.css' %}" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="wrapper">
	<table id="myTable">
		 <tr class="header">
  			 <th style="width:60%;">Course</th>
  			 <th style="width:40%;">Score</th>
 		</tr>
    </table>
</div>

<script>
$.getJSON("https://private-e52a5-ppw2017.apiary-mock.com/riwayat", function(data) {
        console.log(data)
        for (i = 0; i < data.length; i++) {
            $('#myTable').append(
                '<tr>'
                    + '<td class="col">'+ data[i].kelas.nm_mk_cl.nm_mk + '</td>'
                    + '<td class="col">' + data[i].nilai +'</td>'
                    + '</tr>'
                )
        }
    });
</script>
