{% extends "login/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!----------------------------- INIT SDK ---------------------------->
<head>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   81ejezfyunfj2y
        onLoad: onLinkedInLoad
        authorize: true
        lang:      en_US
        scope: r_basicprofile r_emailaddress
    </script>
</head>

<!----------------------------- BODY ---------------------------->
<body>
    <div class='wrapper'>
    <div class="content-wrapper">
        <br>
        <br>
        <button class="button" style='margin-right: 30px;' onClick=exitProfile() id="exit"></button>
        <button class="button" onClick=saveProfileBefore() id="save"></button>
        <section class="profile-header" id="profile-header">
        </section>
        <br/>
        <br/>
        <p id='personal-data'></p>
        <section class="section-profile-table">
            <div class="profile-table" id="profile-table">
                <script type="in/Login"></script>
                <table align='left' style='text-align: left' id="table">
                </table>
            </div>
        </section>
        <br>
        <br>
        <p id='expertise'></p>
        <div class="keahlian-baru"></div>
        <br>
        <button class="button-expertise" id="add-expertise" onclick="addExpertise()"></button>
        <br>
        <br>
        <br>
        <p id="show-score"></p>
        <div class="radio-button">
        </div>
        <br>
        <br>
    </div>
  </div>
</body>

<script>
function onLinkedInLoad() {
    if(IN.User.isAuthorized()){
        getProfile();
    }
    else{
        $('#profile-header').html(
        '<img id="img" class="img-circle" src="https://www.idlidu.com/Content/images/default.png" style="height:120px;widht:120px"/>'
        + '<br><br>'
        + '<p>{{kode_identitas}}</p>');

        $('#save').attr('onClick', 'saveProfileBeforeLogin()');

        render();
        IN.Event.on(IN, "auth", getProfile);
    }
}

function getProfile() {
  IN.API.Profile('me').fields([
    'first-name', 'last-name',
    'public-profile-url',
    'picture-urls::(original)',
    'email-address'
    ])
  .result(displayProfiles);
}

var name, picture, email, linkedin;
var numOfExpertise = {{ numOfExpertise }};

function displayProfiles(profiles) {
  console.log(profiles)
  var member = profiles.values[0];

  picture = member.pictureUrls.values[0];
  name = member.firstName + " " + member.lastName;
  email = member.emailAddress;
  linkedin = member.publicProfileUrl;

  $('#profile-header').html(
  '<img id="img" class="img-circle" src="' + picture + '" style="height:120px;widht:120px"/>'
  + '<br><br>'
  + '<p>{{kode_identitas}}</p>');

  $('#table').html(
      "<tr>"
          + "<td class='col'>Name</td>"
          + "<td class='col'>"
              + name
          + "</td>"
      + "</tr>"
      + "<tr>"
          + "<td class='col'>Email</td>"
          + "<td class='col'>"
               + email
          + "</td>"
      + "</tr>"
      + "<tr>"
          + "<td class='col'>LinkedIn Profile</td>"
          + "<td class='col'>"
               + '<a href={{linkedin}} target="_blank">' + linkedin + '</a>'
          + "</td>"
      + "</tr>");

     $('.section-profile-table').append('<p><a id="logout-link" href="javascript:void(0);" onclick="logout()">Change LinkedIn Profile</a></p>')

     $('#save').attr('onClick', 'saveProfile()');
     render();
}

function logout(){
      IN.User.logout(removeProfileData);
}

function removeProfileData(){
    $('#table').remove();
    $('#logout-link').remove();
}

function render(){
    console.log("kesini")
    $('#personal-data').html('Personal Data');
    $('#show-score').html('Show Score');
    $('#expertise').html('Expertise');
    $('#save').html('Save');
    $('#exit').html('Exit');
    $("#add-expertise").html('Add Expertise');
    $('.button').css('background-color', '#e8e8e8');
    $('.button-expertise').css('background-color', '#e8e8e8');

    $('.keahlian-baru').append(
        '{% for i in expertise %}<table id="table-exp"><td><label style="padding-right:5px;" for="keahlian">Skills:</label>'
        + '<select name="keahlian" class="skillNew" data-id="{{forloop.counter}}">'
            + '<option value="Java">Java</option>'
            + '<option value="C#">C#</option>'
            + '<option value="Python" >Python</option>'
            + '<option value="Erlang">Erlang</option>'
            + '<option value="Kotlin">Kotlin</option>'
        + '</select></td>'
        + '<td><label style="padding-right:5px;" for="level" style="margin-left:30px;">Level:</label>'
        + '<select name="level" class="levelNew" data-id="{{forloop.counter}}">'
            + '<option value="1">Beginner</option>'
            + '<option value="2">Intermediate</option>'
            + '<option value="3" >Advance</option>'
            + '<option value="4">Expert</option>'
            + '<option value="5">Legend</option>'
        + '</select></td>' + '<td><a href="{% url "profile:delete_expertise" i.id %}" class="btn btn-danger">-</a></td></table>{%endfor%}')

    $('.radio-button').html(
        '<input id="input0" type="radio" name="score" value="0"> Yes'
        + '<input id="input1" type="radio" name="score" value="1"> No')

}

function addExpertise(){
    $('.keahlian-baru').append(
        '<table id="table-exp"><td><label style="padding-right:5px;" for="keahlian">Skills:</label>'
        + '<select name="keahlian" class="skillNew" data-id="{{forloop.counter}}">'
            + '<option value="Java">Java</option>'
            + '<option value="C#">C#</option>'
            + '<option value="Python" >Python</option>'
            + '<option value="Erlang">Erlang</option>'
            + '<option value="Kotlin">Kotlin</option>'
        + '</select></td>'
        + '<td><label style="padding-right:5px;" for="level" style="margin-left:30px;">Level:</label>'
        + '<select name="level" class="levelNew" data-id="{{forloop.counter}}">'
            + '<option value="1">Beginner</option>'
            + '<option value="2">Intermediate</option>'
            + '<option value="3" >Advance</option>'
            + '<option value="4">Expert</option>'
            + '<option value="5">Legend</option>'
        + '</select></td>' + '<td><a href="{% url "profile:edit_profile" %}" class="btn btn-danger">-</a></td></table>')
};

function saveProfileBeforeLogin(){
    //////////////////////////expertise/////////////////////////
    var expertise = [];
    var level = [];

    $('.skillNew').each(function(i, obj) {
        var value = $(this).val();
        expertise.push(value);
    });

    $('.levelNew').each(function(i, obj) {
        var value = $(this).val();
        level.push(value);
    });

    console.log(expertise)
    console.log(level)

    //////////////////////////radio/////////////////////////
    var radios = document.getElementsByName('score');

    var show_score = 0; //initial value 0: search by name

    for (var i = 0, length = radios.length; i < length; i++)
    {
        if (radios[i].checked)
        {
            show_score = parseInt(radios[i].value);
        break;
        }
    }

    //////////////////////////post/////////////////////////
    $.ajax({
         method: "POST",
         url: '{% url "profile:save_profile_before" %}',
         data: {
             'expertise': JSON.stringify(expertise),
             'level': JSON.stringify(level),
             'score': show_score,
         },
         dataType: 'json',
         success: function (response) {
             window.location.href = response.redirect_url;
         },
         error : function (error) {
             console.log(error.responseText)
         }
     });
}

function saveProfile(){
    //////////////////////////expertise/////////////////////////
    var expertise = [];
    var level = [];

    $('.skillNew').each(function(i, obj) {
        var value = $(this).val();
        expertise.push(value);
    });

    $('.levelNew').each(function(i, obj) {
        var value = $(this).val();
        level.push(value);
    });

    console.log(expertise)
    console.log(level)

    //////////////////////////radio/////////////////////////
    var radios = document.getElementsByName('score');

    var show_score = 0; //initial value 0: search by name

    for (var i = 0, length = radios.length; i < length; i++)
    {
        if (radios[i].checked)
        {
            show_score = parseInt(radios[i].value);
        break;
        }
    }

    //////////////////////////post/////////////////////////
    $.ajax({
         method: "POST",
         url: '{% url "profile:save_profile" %}',
         data: {
             'name': name,
             'email': email,
             'linkedin': linkedin,
             'picture': picture,
             'expertise': JSON.stringify(expertise),
             'level': JSON.stringify(level),
             'score': show_score,
         },
         dataType: 'json',
         success: function (response) {
             window.location.href = response.redirect_url;
         },
         error : function (error) {
             console.log(error.responseText)
         }
     });
}

function exitProfile(){
    window.location.href = '/login/'
}

$(".dropdown").html(
    '<a href="#" class="dropdown-toggle" data-toggle="dropdown">'
    + '<img src={{picture}} class="profile-image img-circle" style="height:30px;width:30px"><b class="caret"></b></a>'
    + '<div class="dropdown-content">'
    + '<a href="{% url "login:auth_logout" %}" onclick="return confirm("Logout?")"> Logout </a>'
    + '</div>'
)
</script>
{% endblock %}
