{% load staticfiles %}
{% load static %}
{% block content %}
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/universal.css' %}" />
</head>
<div class="wrapper">
<div class="profile-table">
    <table align="left" style="text-align: left">
        <tr>
            <td class='col'>Name</td>
            <td class='col'>{% if name %} {{ name }}{% else %} Empty{% endif %}</td>
        </tr>
        <tr>
            <td class='col'>NPM</td>
            <td class='col'>{{kode_identitas}}</td>
        </tr>
        <tr>
            <td class='col'>Expertise</td>
            <td class='col'>
            {% if expertise %}
                {% for i in expertise %}
                    <div class="expertise" style='background-color:{{ i.get_color_display }}'>
                        {{ i.name }}
                    </div>
                {% endfor %}
            {% else %}
                Empty
            {% endif %}
            </td>
        </tr>
        <tr>
            <td class='col'> Email</td>
            <td class='col'>{% if email %} {{ email }}{% else %} Empty{% endif %}</td>
        </tr>
        <tr>
            <td class='col'>LinkedIn Profile</td>
            <td class='col'>{% if linkedin %} <a href={{linkedin}} target="_blank">{{linkedin}}</a> {% else %} Empty{% endif %}</td>
        </tr>
    </table>
</div>
</div>

{% endblock %}
