<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 -->
{% block content %}

{% load staticfiles %}
{% load static %}

<div class='wrapper'>
<section>
<section name="update_status">
    <h2>Update Status</h2>
    <!-- <form id="add-status" action="#"> -->
    <form class="form-inline" method="POST" action="{% url 'login:add_status' %}">
        {% csrf_token %}
        <input id="field_message" type="text" name="message" class="form-control"/>
        <button type="submit">Add</button>
    </form>
</section>

<h2> Status </h2>
<div class="list-group" id="status-list">
    {% if status %}
        {% for data in status reversed%}
            <!-- <table>
                <tr class="status-message">
                    <td class='status-table'> {{.message}} </td>
                </tr>
                <tr class="status-date">
                    <td class='status-table'> {{status.date}} </td>
                </tr>
            </table> -->
             <div class="card-body border border-dark">
                <h5 class="text-left">{{author}}</h5>
                <p class="p-y-1 text-left">{{data.message}}</p>
                <h6 class="text-muted text-left">{{data.date}}</h6>
                <a href="{% url 'login:delete' data.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger text-center">
            <strong>Opps!</strong> No Status
        </div>
    {% endif %}
</div>

</section>
<hr/>
</div>

{%endblock%}
