.rata-tengah {
    text-align: center;
    margin : 20px;
}
.judul {
    text-transform:uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}

body{
  margin-top: 30px;
  width: 100%;
  /*background-color: #b7cc90;*/
}

.wrapper{
    padding-top: 50px;
    /*display: flex;
    flex-direction: column;*/
    width: 90%;
    margin: 0 auto;
    min-height: 90vh;
}

/* ---------------------------- PROFILE ----------------------------*/
.img-circle {
    border-radius: 50%;
}

.skill {
    background-color: #e0e2e5;
    border-width: thin;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: inline-block;
}

.col {
    padding: 5px;
    padding-right: 30px;
    text-align: left;
}

.content-wrapper {
    width: 100%;
    text-align:center;
    position:relative;
}

.profile-header{
    margin: 0 auto;
    display:inline-block;
    width: 100%;
}

.profile-table{
    margin: 0 auto;
    display: inline-table;
}

.section-profile-table{
    width: 100%;
}

#data-pribadi{
    float: left;
}

.button{
    /* margin: 15px; */
    margin-right: 15px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 0px;
    box-shadow:none;
    background-color: white;
    float: right;
}

.button-expertise{
    /* margin: 15px; */
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 0px;
    box-shadow:none;
    background-color: white;
}

#table-exp td {
  padding:12px;
  padding-bottom:0px;
}

/* ---------------------------- FOOTER ----------------------------*/
footer p {
    padding-top: 0px;
    padding-bottom: 30px;
    bottom:0px;
    margin: 0 auto
    position: absolute;
    text-align: center;
    flex: 0 0 50px;
    margin-top: auto;
}

footer {
    position:relative;
    height: auto;
}

/* ---------------------------- NAVBAR ----------------------------*/

.navbar {
    overflow: hidden;
    background-color: transparent;
    border: 0;
    position: absolute;
    z-index:99;
    width:100%;
}

.dropdown {
    float: left;
    overflow: visible;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    position:relative;
}

.navbar-default li:hover, .dropdown:hover .dropbtn {
    background-color: #eaecef;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-nav li a {
 line-height: 30px;
}


/* ---------------------------- FRIEND ----------------------------*/
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
  background-size: 20px 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 12px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.expertise {
    background-color: #e0e2e5;
    border-width: thin;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    display: inline-block;
}

#input0, #input1, #input2, #input3, #input4, #input5{
  margin-left:10px;
}

.button-add{
    /* margin: 15px; */
    margin-right: 15px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 0px;
    box-shadow:none;
    background-color: #e8e8e8;
    float: right;
}
