{% extends "login/layout/base.html" %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<div class="wrapper">
<br>
<h4> Welcome, {{author}} </h4>
<div class="panel panel-default">
    <!-- <div class="panel-heading">

    </div> -->
    <div class="panel-body">
        <img id="img" class="img-circle" src={{picture}} style="height:120px;widht:120px;float:left;margin-right:30px;"/>
        <br>
        <p>Total Status: {{jumlah_status}}</p>
        <p>Last Status : {{stat_last}}</p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'profile:edit_profile' %}" class="btn btn-info"> Edit Profile </a>
    </div>
</div>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active">
            <a href="#status" aria-controls="home" role="tab" data-toggle="tab"> Status </a>
        </li>
        <li role="presentation">
            <a href="#history" aria-controls="settings" role="tab" data-toggle="tab"> History </a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="settings" role="tab" data-toggle="tab"> Profile </a>
        </li>
        <li role="presentation">
            <a href="#friend" aria-controls="settings" role="tab" data-toggle="tab"> Friend </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="status">
            {% include 'login/status.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <object type="text/html" data="/profile"  width='100%' height="600px" style="overflow:auto;">
            </object>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="friend">
            <object type="text/html" data="/friend"  width="100%" height="600px" style="overflow:auto">
            </object>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="history">
            <object type="text/html" data="/history"  width="100%" height="600px" style="overflow:auto">
            </object>
        </div>

    </div>
</div>
</div>

<script>
    $(".dropdown").html(
        '<a href="#" class="dropdown-toggle" data-toggle="dropdown">'
        + '<img src={{picture}} class="profile-image img-circle" style="height:30px;width:30px"><b class="caret"></b></a>'
        + '<div class="dropdown-content">'
        + '<a href="{% url "login:auth_logout" %}" onclick="return confirm("Logout?")"> Logout </a>'
        + '</div>'
    )
</script>

{% endblock %}
